/**
 * @file
 * Main Style sheet for all site.
 *
 * This is the main stylesheet to be used for all website.
 * Use it and override the rule in your own stylesheet file.
 */

@import "_commons.scss";

.atomo-page-wrapper {
    margin: 0 auto;
    max-width: $page-max-width;
}

.atomo-header-wrapper {
    text-align: center;
    margin: 2em 0;

    .atomo-header {
            display: inline-block;
            font-size: 2.0em;
    }
}
.atomo-superscript {
    color: #ff0000;
    font-size: .42em;
    vertical-align: super;
}

.atomo-form-wrapper {
    margin: 1em 0;
    text-align: center;

    .atomo-form {
        display: inline-block;

        .atomo-word {
            font-size: 1.6em;
            display: inline-block;
        }
        .atomo-lookup {
            font-size: 1.6em;
        }
    }
}

.atomo-results-wrapper {
    margin: 1em 0;
}

.atomo-select {
    border: 1px solid $greyLighter;
    padding: 1em;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);

    @media screen and (max-width: 767px) { /* grid = md */
        .atomo-select-block {
            display: block;
        }
    }
    @media screen and (min-width: 768px) { /* grid = md */
        .atomo-select-block {
            display: inline-block;
        }
    }

    .atomo-select-block {
        box-shadow: 1px 1px 2px 1px rgba(255, 196, 13, 0.1) inset;
        border-left: 1px solid $yellow;
        border-top: 1px solid $yellow;
        border-radius: 4px;
        margin: 0.5em;
        vertical-align: top;

        .atomo-select-header {
            font-weight: bold;
            padding: .5em 1em;
            vertical-align: bottom;
        }
        .atomo-select-body {
            padding: .5em 1em;
            vertical-align: top;
        }
        label {
            margin-left: 0.125em;
        }
        .atomo-symbol {
            background-color: $greyLighter;
            border: 1px solid $greyLight;
            display: inline-block;
            margin: 0 0.125em 0.125em 0;
            padding: 0.125em;
            width: 2em;
        }
    }
    .atomo-select-button {
        display: block;
        margin: 1em;
        text-align: right;
    }
    .atomo-select {
        border: none;
    }
    .atomo-results {
        margin: 1em;
    }
}

.atomo-result {
    border: 1px solid $greyLighter;
    padding: 1em;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);

    .atomo-label {
        font-weight: bold;
        padding-right: 1em;
    }
    @media screen and (max-width: 767px) { /* grid = md */
        .atomo-label {
            text-align: left;
        }
    }
    @media screen and (min-width: 768px) { /* grid = md */
        .atomo-label {
            text-align: right;
        }
    }
    .atomo-symbolized {
        margin: 0.5em 0;
    }
    .atomo-slack {
        margin: 0.5em 0;
    }
    .atomo-slack-input {
        padding: 0.5em 1em;
    }
    .atomo-image {
        margin: 0.5em 0;

        img {
            max-height: 128px;
            max-width: 100%;
        }
    }
}

.atomo-disclaimer {
    background-color: #eeeeee;
    color: #444444;
    margin-top: -2em;
    padding: 0.5em;
}
